*.tar*
*.tgz*
.ntvs_analysis.dat*
npm-debug*
.testresults/
.coverage/
.nyc_output/
.circleci/
.github/
.vscode/
test/
.eslintignore
.eslintrc.js
.huskyrc.json
.nycrc.json
appveyor.yml
sonar-project.properties